{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block styles %}
	<link rel="stylesheet"
		href="{% static 'user_auth/login.css' %}">
{% endblock %}

{% block navbar %}
	<div class="container-fluid">
		<a class="navbar-brand mb-0 h1" href="users/{{ user.id }}">{{ user.username }}</a>
		{% if not is_authenticated %}
			<form class="d-flex">
				<button class="btn btn-outline-success me-2" type="button">Login</button>
				<button class="btn btn-sm btn-outline-secondary" type="button">Register</button>
			</form>
		{% else %}
			<form class="d-flex">
				<button class="btn btn-sm btn-outline-secondary" type="button">Log out</button>
			</form>
		{% endif %}
	</div>
{% endblock %}

{% block content %}
	{% for article in articles %}
		<div class="article">
			<a href="{{ article.get_url }}">{{ article.title }}</a>
		</div>
	{% endfor %}
{% endblock %}
